@import '@/src/styles/variables.module';

.item {
  display: flex;
  align-content: center;
  padding: 1em;
  cursor: pointer;

  p {
    white-space: pre-line;
  }

  &:hover {
    background-color: $bright-grey;
  }

  &:has(div) p {
    margin-left: 1em;
  }

  &.center {
    justify-content: center;
  }
}
