# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea

### Client dependencies
client/node_modules
client/.idea
client/.pnp
client/.pnp.js
client/yarn/install-state.gz
# next.js
client/.next
client/.idea/
client/out/
# production
client/build
# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
# local env files
client/env*.local
# typescript
client/*.tsbuildinfo
client/next-env.d.ts

### Server dependencies
server/.idea/
server/.vscode/
server/node_modules/
server/build/
server/tmp/
server/temp/
