@import '@/src/styles/variables.module';

.participant {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $dark-red;
  margin: 0 2em;

  video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
  }
}