* {
    box-sizing: border-box;
}

ul,
li,
p,
h1,
h2,
h3,
button {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1em;
    }
}
