$bright-grey: #F8F8F8;
$grey: #959595;
$dark-grey: #5C5C5C;

$bright-red: #F24391;
$red: #F01879;
$dark-red: #C0005C;

$black: #272727;
$white: white;

$error: red;

:export {
  grey: $grey;
  dark-grey: $dark-grey;
  bright-grey: $bright-grey;
  red: $red;
  dark-red: $dark-red;
  black: $black;
  white: $white;
  error: $error;
}

//@import "@/styles/variables.module";
