$bright-grey: #f8f8f8;
$grey: #959595;
$dark-grey: #5c5c5c;

$bright-red: #f24391;
$red: #f01879;
$dark-red: #c0005c;

$black: #272727;
$white: white;

$error: red;

:export {
  grey: $grey;
  dark-grey: $dark-grey;
  bright-grey: $bright-grey;
  red: $red;
  dark-red: $dark-red;
  black: $black;
  white: $white;
  error: $error;
}

//@import "@/styles/variables.module";
